
body {
    font-family: 'Roboto Mono', monospace;
    background: rgb(37, 33, 33);
    color: rgb(77, 204, 255);
}

.centered {
    text-align: center;
}
.right{
    text-align: right;
    position: relative;
}

h1.logintext{
    font-size: 300%;
    text-align: center;
}

p.otherText {
    font-size: 500%;
}

button {
    font-family: "Roboto Mono", monospace;
    /*text-transform: uppercase;*/
    outline: 0;
    background: grey;
    width: 300px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 15px
}

button.thereismorebutton{
    width: 100%;
    height: 20px;
    margin-top: 0px;
}

input{
    font-family: "Roboto Mono", monospace;
    outline: 0;
    background: #f2f2f2;
    width: 300px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

div.topheader{
    background: rgba(255, 255, 255, 0.05) none repeat scroll 0 0;
    position: relative;
    border-bottom: 2px solid rgb(75, 75, 75);
    box-shadow: 0 0 3px 3px #000000;
    text-shadow: 1px 1px #000000;
    width: 100%;
    height: 46px;
   
}

div.chatverlauf{
    background: rgba(255, 255, 255, 0.05) none repeat scroll 0 0;
    position: relative;
    border-bottom: 2px solid rgb(75, 75, 75);
    box-shadow: 0 0 3px 3px #000000;
    text-shadow: 1px 1px #000000;
    width: 100%;
    /*height: 140vh;*/
}
div.chatborder{
    border: 1px solid black;
}

ul.headerlist {
    list-style: none;
    height: 50px;
}
a.bigtext{
    font-size: 40px;
}
a.lowertxt{
    font-size: 20px;
}
a.nolink{
    position: relative;
    border-left: 3px solid #687079;
    border-right: 3px solid #687079;
    color: rgb(77, 204, 255);
    direction: ltr;
    unicode-bidi: embed;
    text-decoration: none;
}
li.headerlink {
    position: relative;
    color: rgb(77, 204, 255);
    display: inline
}


textarea.inputtxt{
    width: 90%;
    overflow: hidden;
    color: rgb(77, 204, 255);
    background: rgb(37, 33, 33);
    height: 10vh;
}