
body {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

h1 {
    font-size: 300%;
    text-align: center;
}

p {
    font-size: 500%;
}

button {
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
    outline: 0;
    background: grey;
    width: 300px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 15px
}

input{
    font-family: "Roboto Mono", monospace;
    outline: 0;
    background: #f2f2f2;
    width: 300px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
